<form
  class="{{cssClass}} container-fluid"
  autocomplete="off"
  style="text-align: center;"
>
  <div class="d-flex align-items-end flex-column h-100">
    <div class="w-100 justify-content-center mb-2">
      <label for="data.formRestHours">Hours Rested:</label>
    </div>
    <div class="w-100 justify-content-center mb-2">
      <input style="width: 60%;" id="formRestHoursField" type="text" name="data.formRestHours" value="8"/>
    </div>
    <div class="w-100 justify-content-center mb-2">
      Bandage Used? <input style="width: 60%;" id="bandageUsedCheckbox" type="checkbox" name="data.bandageUsedCheckbox"/>
    </div>
    <div class="w-100 justify-content-center mt-auto">
      <input type="submit" value="Rest!"/>
    </div>
  </div>
</form>